* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hide {
  visibility: hidden;
}

.unhide {
  visibility: visible;
}

ul {
  list-style: none;
}

.first-row {
  width: 100%;
  height: 36px;
  background-color: #233a95;
  text-align: center;
  font-size: 0.75rem;
  color: white;
  position: relative;
}

.first-row .first-p {
  padding-top: 10px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 108%;
  font-weight: 100;
}

header {
  width: 1200px;
  margin: 0 auto;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .header-first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-first-row .left-ul {
  padding-top: 10px;
  font-size: 14px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .header-first-row .left-ul .left-list {
  font-weight: lighter;
  padding: 0 8px;
  cursor: pointer;
}

header .header-first-row .left-ul .left-list:hover {
  color: #2bbef9;
}

header .header-first-row .right-ul {
  padding-top: 10px;
  font-size: 14px;
}

header .header-first-row .right-ul .right-list {
  font-weight: lighter;
  padding: 0 15px;
}

header .header-first-row .right-ul .right-list .fa-hand {
  margin-right: 15px;
}

header .header-first-row .right-ul .right-list .inner-ul {
  font-size: 14px;
  position: relative;
}

header .header-first-row .right-ul .right-list .inner-ul .inner-lang {
  font-weight: lighter;
  padding: 0 2px;
  cursor: pointer;
}

header .header-first-row .right-ul .right-list .inner-ul .inner-lang:hover {
  color: #007bff;
}

header .header-first-row .right-ul .right-list .inner-ul .inner-lang:hover .lang-div {
  opacity: 1;
  z-index: 1;
  visibility: visible;
  display: block;
}

header .header-first-row .right-ul .right-list .inner-ul .inner-lang .fa-chevron-down {
  padding: 0 5px;
  font-size: 60%;
}

header .header-first-row .right-ul .right-list .inner-ul .inner-lang .lang-div {
  position: absolute;
  background-color: white;
  border: 1px solid #d9d9e9;
  left: -15px;
  opacity: 0;
  z-index: 99;
  visibility: hidden;
  display: none;
}

header .header-first-row .right-ul .right-list .inner-ul .inner-lang .lang-div .drop-lang {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header-first-row .right-ul .right-list .inner-ul .inner-lang .lang-div .drop-lang .dropped-lang {
  padding: 10px 5px;
}

header .header-first-row .right-ul .right-list .inner-ul .inner-lang .lang-div .drop-lang .dropped-lang .lang-links {
  text-decoration: none;
  color: black;
  padding: 15px;
}

header .header-first-row .right-ul .right-list .inner-ul .inner-lang .lang-div .drop-lang .dropped-lang .lang-links:hover {
  color: #007bff;
}

header .header-first-row .right-ul .right-list .inner-ul .inner-curr {
  font-weight: lighter;
  padding: 0 2px;
  cursor: pointer;
}

header .header-first-row .right-ul .right-list .inner-ul .inner-curr:hover {
  color: #007bff;
}

header .header-first-row .right-ul .right-list .inner-ul .inner-curr:hover .curr-div {
  opacity: 1;
  z-index: 1;
  visibility: visible;
  display: block;
}

header .header-first-row .right-ul .right-list .inner-ul .inner-curr .fa-chevron-down {
  padding: 0 5px;
  font-size: 60%;
}

header .header-first-row .right-ul .right-list .inner-ul .inner-curr .curr-div {
  position: absolute;
  background-color: white;
  border: 1px solid #d9d9e9;
  left: 55px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  display: none;
}

header .header-first-row .right-ul .right-list .inner-ul .inner-curr .curr-div .drop-curr {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header-first-row .right-ul .right-list .inner-ul .inner-curr .curr-div .drop-curr .dropped-curr {
  padding: 10px 5px;
}

header .header-first-row .right-ul .right-list .inner-ul .inner-curr .curr-div .drop-curr .dropped-curr .curr-links {
  text-decoration: none;
  color: black;
  padding: 15px;
}

header .header-first-row .right-ul .right-list .inner-ul .inner-curr .curr-div .drop-curr .dropped-curr .curr-links:hover {
  color: #007bff;
}

header .header-second-row {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

header .header-second-row .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

header .header-second-row .logo .link-span {
  padding-top: 5px;
  font-size: 75%;
}

header .header-second-row .location {
  cursor: pointer;
  border: 1px solid #d9d9e9;
  height: 60px;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .header-second-row .location .left-loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .header-second-row .location .left-loc .loc-span {
  font-size: 80%;
  color: #b2b2b6;
}

header .header-second-row .location .left-loc .select-span {
  color: #233a95;
}

header .header-second-row .location .loc-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-second-row .header-input {
  width: 50%;
  position: relative;
}

header .header-second-row .header-input .h-input {
  width: 100%;
  height: 60px;
  padding: 20px;
  font-size: 100%;
  border: none;
  color: #a095a9;
  background-color: #f3f4f7;
}

header .header-second-row .header-input .h-input:focus {
  outline: none;
}

header .header-second-row .header-input .input-icon {
  position: absolute;
  right: 25px;
  top: 18px;
  font-size: 140%;
}

header .header-second-row .profile {
  width: 40px;
  height: 40px;
  border: #d9d9e9 2px solid;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-second-row .header-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-second-row .header-basket .basket-worth {
  padding: 0 15px;
}

header .header-second-row .header-basket .basket-worth .basket-total-worth {
  font-size: large;
  font-weight: 400;
  font-family: sans-serif;
}

header .header-second-row .header-basket .basket-self {
  position: relative;
  width: 40px;
  height: 40px;
  border: #d9d9e9 2px solid;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ed310f;
  background-color: #fff1ee;
}

header .header-second-row .header-basket .basket-self sup {
  position: absolute;
  top: 0;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ed310f;
  color: white;
  font-size: 80%;
  text-align: center;
}

header .header-last-row {
  z-index: 1;
  position: relative;
  font-family: "Roboto";
  margin-top: 15px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-last-row .all-categories {
  cursor: pointer;
  position: relative;
  background-color: #2bbef9;
  width: 15%;
  border-radius: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-last-row .all-categories .categories {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 800;
}

header .header-last-row .all-categories .categories li {
  padding: 0 5px;
  font-size: 80%;
}

header .header-last-row .all-categories .total-products {
  position: absolute;
  bottom: -7px;
  left: 18px;
  width: 80%;
  height: 20px;
  border-radius: 15px;
  background-color: #e8f3ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-last-row .all-categories .total-products .t-products {
  color: black;
  font-size: 70%;
  text-align: center;
  font-family: sans-serif;
}

header .header-last-row .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-last-row .nav .nav-ul {
  width: 100%;
}

header .header-last-row .nav .nav-ul .nav-home {
  position: relative;
}

header .header-last-row .nav .nav-ul .nav-home:hover > .drop-home {
  opacity: 1;
}

header .header-last-row .nav .nav-ul .nav-home .drop-home {
  opacity: 0;
  position: absolute;
  width: 200%;
  left: 0px;
  top: 67px;
  background-color: white;
}

header .header-last-row .nav .nav-ul .nav-home .drop-home .drop-down-home {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header-last-row .nav .nav-ul .nav-home .drop-home .drop-down-home .home-list {
  padding: 8px;
}

header .header-last-row .nav .nav-ul .nav-home .drop-home .drop-down-home .home-list .home-links {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-weight: 500;
}

header .header-last-row .nav .nav-ul .nav-home .drop-home .drop-down-home .home-list:hover .home-links {
  color: #007bff;
}

header .header-last-row .nav .nav-ul .nav-list {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 80%;
  font-family: "Roboto";
  padding: 10px 20px;
  font-weight: 600;
  margin: 0 5px;
  border-radius: 15px;
}

header .header-last-row .nav .nav-ul .nav-list:hover {
  background-color: #e8f3ff;
  color: #007bff;
}

header .header-last-row .nav .nav-ul .nav-list i {
  padding: 0 3px;
  font-size: 120%;
}

header .drop-down-product {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px 0;
  position: absolute;
  width: 230px;
  background-color: white;
  border: 1px solid #d9d9e9;
  font-family: "Roboto";
  font-weight: 600;
  top: 80px;
}

header .drop-down-product .v-icon {
  position: absolute;
  right: 5px;
}

header .drop-down-product .dropped-product,
header .drop-down-product .drop-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 90%;
}

header .drop-down-product .dropped-product a,
header .drop-down-product .drop-footer a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 10px 0;
  width: 100%;
}

header .drop-down-product .dropped-product .dropped-p-list,
header .drop-down-product .dropped-product .drop-footer-list,
header .drop-down-product .drop-footer .dropped-p-list,
header .drop-down-product .drop-footer .drop-footer-list {
  padding: 10px 25px;
}

header .drop-down-product .dropped-product .dropped-p-list:hover > a,
header .drop-down-product .dropped-product .drop-footer-list:hover > a,
header .drop-down-product .drop-footer .dropped-p-list:hover > a,
header .drop-down-product .drop-footer .drop-footer-list:hover > a {
  color: #2bbef9;
}

header .drop-down-product .dropped-product i,
header .drop-down-product .drop-footer i {
  padding: 0 10px 0 0;
}

header .drop-down-product .dropped-product .fruit:hover .pop-list-fruit {
  opacity: 100;
}

header .drop-down-product .dropped-product .fruit .pop-list-fruit {
  opacity: 0;
  background-color: white;
  position: absolute;
  top: 0;
  border: 1px solid #d9d9e9;
  right: -230px;
  width: 230px;
  height: 462px;
}

header .drop-down-product .dropped-product .fruit .pop-list-fruit .pop-fruit-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 90%;
}

header .drop-down-product .dropped-product .fruit .pop-list-fruit .pop-fruit-ul .pop-fruit-li {
  padding: 10px 30px;
}

header .drop-down-product .dropped-product .fruit .pop-list-fruit .pop-fruit-ul .pop-fruit-li:hover a {
  color: #007bff;
}

header .drop-down-product .dropped-product .bev:hover .pop-list-bev {
  opacity: 100;
}

header .drop-down-product .dropped-product .bev .pop-list-bev {
  opacity: 0;
  background-color: white;
  position: absolute;
  top: 0;
  border: 1px solid #d9d9e9;
  right: -230px;
  width: 230px;
  height: 462px;
}

header .drop-down-product .dropped-product .bev .pop-list-bev .pop-bev-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 90%;
}

header .drop-down-product .dropped-product .bev .pop-list-bev .pop-bev-ul .pop-bev-li {
  padding: 10px 30px;
}

header .drop-down-product .dropped-product .bev .pop-list-bev .pop-bev-ul .pop-bev-li:hover a {
  color: #007bff;
}

header .drop-down-product .drop-footer {
  padding-top: 30px;
}

.hidden-div {
  background-color: white;
  width: 100%;
  min-height: 200px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.hidden-div .list-div {
  position: absolute;
  width: 1200px;
  background-color: white;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid red;
  top: 20px;
}

.hidden-div .list-div ul {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hidden-div .list-div ul .header {
  padding-bottom: 20px;
}

.hidden-div .list-div ul li {
  padding: 10px 0;
  text-transform: capitalize;
}

.hidden-div .list-div ul li .lead-link {
  color: #007bff;
}

.hidden-div .list-div ul li:hover > a {
  color: #007bff;
}

.hidden-div .list-div ul li a {
  text-decoration: none;
  color: black;
}

.footer-top {
  width: 100%;
  height: 355px;
  background-color: #233a95;
  z-index: 10;
  position: absolute;
}

.footer-top .footer-letter {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-top .footer-letter .footer-letter-side {
  position: relative;
  margin: auto 0;
  width: 50%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer-top .footer-letter .footer-letter-side .discount-span {
  font-size: 120%;
  color: white;
  font-family: sans-serif;
}

.footer-top .footer-letter .footer-letter-side .discount-header {
  margin-top: -30px;
  color: white;
  font-family: sans-serif;
}

.footer-top .footer-letter .footer-letter-side .discount-text {
  color: #919cca;
  font-size: 100%;
  margin-top: -20px;
  line-height: 25px;
}

.footer-top .footer-letter .footer-letter-side .discount-input {
  width: 80%;
  height: 60px;
  padding: 20px;
  padding-left: 50px;
}

.footer-top .footer-letter .footer-letter-side .discount-input::-webkit-input-placeholder {
  font-size: 100%;
}

.footer-top .footer-letter .footer-letter-side .discount-input:-ms-input-placeholder {
  font-size: 100%;
}

.footer-top .footer-letter .footer-letter-side .discount-input::-ms-input-placeholder {
  font-size: 100%;
}

.footer-top .footer-letter .footer-letter-side .discount-input::placeholder {
  font-size: 100%;
}

.footer-top .footer-letter .footer-letter-side .discount-input:focus {
  outline: none;
}

.footer-top .footer-letter .footer-letter-side .discount-button {
  width: 17%;
  position: absolute;
  height: 50px;
  background-color: #233a95;
  border-radius: 5px;
  bottom: 38px;
  right: 124px;
  color: white;
  font-size: 100%;
  border: none;
}

.footer-top .footer-letter .footer-letter-side .discount-message {
  position: absolute;
  font-size: 130%;
  color: #acacac;
  bottom: 54px;
  left: 20px;
}

.footer-top .footer-letter .discount-image {
  width: 50%;
  height: 100%;
  position: relative;
}

.footer-top .footer-letter .discount-image img {
  position: absolute;
  bottom: 0;
  right: 0;
}

footer {
  background-color: #f7f8fd;
}

footer .footer-middle-list {
  width: 1200px;
  height: 50px;
  margin: 360px auto 0 auto;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-middle-list .mid-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footer-middle-list .mid-ul li {
  font-family: sans-serif;
  font-size: 90%;
  padding: 15px;
}

footer .footer-middle-list .mid-ul li i {
  padding: 15px;
  font-size: 100%;
}

footer .footer-list-div {
  width: 1200px;
  margin: 140px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f7f8fd;
  padding-bottom: 120px;
}

footer .footer-list-div ul .main {
  padding-bottom: 20px;
  color: black;
  font-size: 100%;
  font-weight: 500;
  font-family: sans-serif;
}

footer .footer-list-div ul li {
  padding: 5px 0;
}

footer .footer-list-div ul li a {
  text-decoration: none;
  color: #7a7a7a;
  font-size: 80%;
  font-family: sans-serif;
  font-weight: 100;
  text-transform: capitalize;
}

footer .footer-info {
  width: 100%;
  background-color: white;
}

footer .footer-info .footer-bg-white {
  padding: 50px 0;
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #b2b2b6;
}

footer .footer-info .footer-bg-white .footer-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-info .footer-bg-white .footer-phone .phone-div {
  border: 1px solid #b2b2b6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-info .footer-bg-white .footer-phone .phone-div .rotate {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  color: #b2b2b6;
}

footer .footer-info .footer-bg-white .footer-phone .phone-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15px;
}

footer .footer-info .footer-bg-white .footer-phone .phone-column .phone-number {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 140%;
}

footer .footer-info .footer-bg-white .footer-phone .phone-column .work-time {
  font-size: 70%;
  font-family: sans-serif;
  color: #b2b2b6;
}

footer .footer-info .footer-bg-white .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-info .footer-bg-white .footer-social .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

footer .footer-info .footer-bg-white .footer-social .download .download-app {
  font-weight: 600;
  font-family: sans-serif;
  font-size: 90%;
}

footer .footer-info .footer-bg-white .footer-social .download .discount-app {
  font-size: 80%;
  font-family: sans-serif;
  font-weight: 100;
  color: #b2b2b6;
}

footer .footer-info .footer-bg-white .footer-social .store-apps {
  padding: 0 15px;
}

footer .footer-info .footer-bg-white .footer-social .store-apps img {
  cursor: pointer;
}

footer .footer-info .footer-bg-white .footer-social .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
}

footer .footer-info .footer-bg-white .footer-social .social-links .socials {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border: 1px solid #b2b2b6;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #233a95;
}

footer .footer-info .footer-last {
  padding: 15px 0;
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-info .footer-last p {
  font-size: 80%;
  color: #b2b2b6;
}

footer .footer-info .footer-last ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-info .footer-last ul li a {
  text-decoration: none;
  color: #b2b2b6;
  padding: 0 8px;
  font-size: 80%;
}

footer .footer-info .footer-last .payments {
  margin-top: 5px;
}
/*# sourceMappingURL=style.css.map */