*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.first-row{
    width: 100%;
    height: 36px;
    background-color: rgb(35,58,149);
    text-align: center;
    font-size: 0.75rem;
    color: white;
    position: relative;
    .first-p{
        padding-top: 10px;
        font-family:'Helvetica Neue', sans-serif;
        font-size: 108%;
        font-weight: 100;
    }
}

header{
    width: 1200px;
    margin: 0 auto;
    ul{
        display: flex;
        flex-direction: row;
    }
    .header-first-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .left-ul{
            padding-top: 10px;
            font-size: 14px;
            .left-list{
                font-weight: lighter;
                padding: 0 8px; 
            }
        }
        .right-ul{
            padding-top: 10px;
            font-size: 14px;
            .right-list{
                font-weight: lighter;
                padding: 0 15px;
                .fa-hand{
                    margin-right: 15px;
                }
                .inner-ul{
                    font-size: 14px;
                    .inner-list{
                        font-weight: lighter;
                        padding: 0 2px;
                        .fa-chevron-down{
                         padding: 0 5px;
                         font-size: 60%;
                        }
                    }
                }
            }
        }
    }
    .header-second-row{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        .logo{
            display: flex;
            flex-direction: column;
            cursor: pointer;
            .link-span{
                padding-top: 5px;
                font-size: 75%;
            }
        }
        .location{
            border: 1px solid #d9d9e9;
            height: 60px;
            width: 180px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            .left-loc{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .loc-span{
                    font-size: 80%;
                    color: #d9d9e9;
                }
                .select-span{
                    color: rgb(35,58,149);
                }
            }
            .loc-icon{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .header-input{
            width: 40%;
            position: relative;
            .h-input{
                width: 100%;
                height: 60px;
                padding: 20px;
                font-size: 100%;
                border: none;
                color: rgb(160,149,169);
                background-color: rgb(243,244,247);
                &:focus{
                    outline: none;
                }
            }
            .input-icon{
                position: absolute;
                right: 25px;
                top: 18px;
                font-size: 140%;
            }
        }
        .profile{
            width: 40px;
            height: 40px;
            border: #d9d9e9 2px solid;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .header-basket{
            .basket-self{
                width: 40px;
                height: 40px;
                border: #d9d9e9 2px solid;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgb(237,49,15);
                background-color: rgb(255,241,238);
            }
        }
    }
}