* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hide {
  visibility: hidden;
  opacity: 0;
}
.unhide {
  transform: scaleZ(1.5);
  opacity: 1;
  visibility: visible;
}
ul {
  list-style: none;
}
.first-row {
  width: 100%;
  height: 36px;
  background-color: rgb(35, 58, 149);
  text-align: center;
  font-size: 0.75rem;
  color: white;
  position: relative;
  .first-p {
    padding-top: 10px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 108%;
    font-weight: 100;
  }
}

header {
  width: 1200px;
  margin: 0 auto;
  ul {
    display: flex;
    flex-direction: row;
  }
  .header-first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .left-ul {
      padding-top: 10px;
      font-size: 14px;
      transition: 0.1s;
      .left-list {
        font-weight: lighter;
        padding: 0 8px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          color: rgb(43, 190, 249);
        }
      }
    }
    .right-ul {
      padding-top: 10px;
      font-size: 14px;
      .right-list {
        font-weight: lighter;
        padding: 0 15px;
        .fa-hand {
          margin-right: 15px;
        }
        .inner-ul {
          font-size: 14px;
          position: relative;
          .inner-lang {
            font-weight: lighter;
            padding: 0 2px;
            &:hover {
              color: #007bff;
            }
            transition: 0.5s linear;
            &:hover .lang-div {
              opacity: 1;
              visibility: visible;
              cursor: pointer;
            }
            cursor: pointer;
            .fa-chevron-down {
              padding: 0 5px;
              font-size: 60%;
            }
            .lang-div {
              transition: 0.3s;
              position: absolute;
              background-color: white;
              border: 1px solid #d9d9e9;
              left: 15px;
              top: 25px;
              opacity: 0;
              visibility: hidden;
              .drop-lang {
                padding: 5px 0;
                display: flex;
                flex-direction: column;
                .dropped-lang {
                  padding: 10px 5px;
                  .lang-links {
                    text-decoration: none;
                    color: black;
                    padding: 15px;
                    &:hover {
                      color: #007bff;
                    }
                  }
                }
              }
            }
          }
          .inner-curr {
            font-weight: lighter;
            padding: 0 2px;
            &:hover {
              color: #007bff;
            }
            &:hover .curr-div {
              opacity: 1;
              visibility: visible;
            }
            cursor: pointer;
            .fa-chevron-down {
              padding: 0 5px;
              font-size: 60%;
            }
            .curr-div {
              transition: 0.3s;
              position: absolute;
              background-color: white;
              border: 1px solid #d9d9e9;
              right: -15px;
              top: 25px;
              opacity: 0;
              visibility: hidden;
              z-index: 1;
              .drop-curr {
                padding: 5px 0;
                display: flex;
                flex-direction: column;
                .dropped-curr {
                  padding: 10px 5px;
                  .curr-links {
                    text-decoration: none;
                    color: black;
                    padding: 15px;
                    &:hover {
                      color: #007bff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .header-second-row {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    .logo {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      .link-span {
        padding-top: 5px;
        font-size: 75%;
      }
    }
    .location {
      cursor: pointer;
      border: 1px solid #d9d9e9;
      height: 60px;
      width: 180px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      .left-loc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .loc-span {
          font-size: 80%;
          color: #b2b2b6;
        }
        .select-span {
          color: rgb(35, 58, 149);
        }
      }
      .loc-icon {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .header-input {
      width: 50%;
      position: relative;
      .h-input {
        width: 100%;
        height: 60px;
        padding: 20px;
        font-size: 100%;
        border: none;
        color: rgb(160, 149, 169);
        background-color: rgb(243, 244, 247);
        &:focus {
          outline: none;
        }
      }
      .input-icon {
        position: absolute;
        right: 25px;
        top: 18px;
        font-size: 140%;
      }
    }
    .profile {
      width: 40px;
      height: 40px;
      border: #d9d9e9 2px solid;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .header-basket {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .basket-worth {
        padding: 0 15px;
        .basket-total-worth {
          font-size: large;
          font-weight: 400;
          font-family: sans-serif;
        }
      }
      .basket-self {
        position: relative;
        width: 40px;
        height: 40px;
        border: #d9d9e9 2px solid;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(237, 49, 15);
        background-color: rgb(255, 241, 238);
        sup {
          position: absolute;
          top: 0;
          right: -5px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: rgb(237, 49, 15);
          color: white;
          font-size: 80%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .header-last-row {
    z-index: 1;
    position: relative;
    font-family: "Roboto";
    margin-top: 15px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .all-categories {
      cursor: pointer;
      position: relative;
      background-color: rgb(43, 190, 249);
      width: 15%;
      border-radius: 50px;
      height: 50px;
      display: flex;
      color: white;
      align-items: center;
      justify-content: center;
      .categories {
        width: 100%;
        margin-top: 10px;
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 800;
        li {
          padding: 0 2px;
          font-size: 70%;
        }
      }
      .total-products {
        position: absolute;
        bottom: -7px;
        left: 18px;
        width: 80%;
        height: 20px;
        border-radius: 15px;
        background-color: #e8f3ff;
        display: flex;
        align-items: center;
        justify-content: center;
        .t-products {
          color: black;
          font-size: 70%;
          text-align: center;
          margin: auto;
          font-family: sans-serif;
        }
      }
    }
    .nav {
      display: flex;
      .nav-ul {
        width: 100%;
        .nav-home {
          position: relative;
          &:hover > .drop-home {
            opacity: 1;
            visibility: visible;
          }
          .drop-home {
            transition: 0.3s;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            width: 200%;
            left: 0px;
            top: 48px;
            background-color: rgb(255, 255, 255);
            .drop-down-home {
              padding: 25px;
              display: flex;
              flex-direction: column;
              .home-list {
                padding: 8px;
                .home-links {
                  text-decoration: none;
                  color: black;
                  font-family: sans-serif;
                  font-weight: 500;
                }
                &:hover .home-links {
                  color: #007bff;
                }
              }
            }
          }
        }
        .shop-dropper {
          &:hover > .hidden-div {
            opacity: 1;
            visibility: visible;
          }
          .hidden-div {
            transition: 0.3s;
            opacity: 0;
            visibility: hidden;
            background-color: rgb(255, 255, 255);
            width: 100%;
            min-height: 200px;
            position: absolute;
            display: flex;
            justify-content: center;
            top: 60px;
            left: 0;
            .list-div {
              padding: 10px 20px;
              position: absolute;
              width: 1200px;
              background-color: rgb(255, 255, 255);
              font-family: sans-serif;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              top: 20px;
              ul {
                padding: 20px 0;
                display: flex;
                flex-direction: column;
                .header {
                  padding-bottom: 20px;
                }
                li {
                  .lead-link {
                    color: #007bff;
                  }
                  &:hover > a {
                    color: #007bff;
                  }
                  padding: 10px 0;
                  text-transform: capitalize;
                  a {
                    font-weight: 100;
                    text-decoration: none;
                    color: black;
                  }
                }
              }
            }
          }
        }
        .nav-list {
          cursor: pointer;
          transition: 0.3s;
          font-size: 80%;
          font-family: "Roboto";
          padding: 10px 20px;
          font-weight: 600;
          margin: 0 5px;
          border-radius: 15px;
          &:hover {
            background-color: #e8f3ff;
            color: #007bff;
          }
          i {
            padding: 0 3px;
            font-size: 120%;
          }
        }
      }
    }
  }
  .drop-down-product {
    transition: 0.3s;
    padding: 10px 0;
    position: absolute;
    width: 230px;
    background-color: white;
    border: 1px solid #d9d9e9;
    font-family: "Roboto";
    font-weight: 600;
    top: 60px;
    .v-icon {
      position: absolute;
      right: 5px;
    }
    .dropped-product,
    .drop-footer {
      display: flex;
      flex-direction: column;
      font-size: 90%;
      a {
        text-decoration: none;
        color: black;
        transition: 0.2s;
        padding: 10px 0;
        width: 100%;
      }
      .dropped-p-list,
      .drop-footer-list {
        padding: 10px 0;
        &:hover > a {
          color: rgb(43, 190, 249);
        }
      }
      i {
        padding: 0 10px 0 0;
      }
    }
    .dropped-product {
      .fruit {
        &:hover .pop-list-fruit {
          opacity: 1;
          visibility: visible;
        }
        .pop-list-fruit {
          transition: 0.3s;
          opacity: 0;
          visibility: hidden;
          background-color: white;
          position: absolute;
          top: 0;
          border: 1px solid #d9d9e9;
          right: -230px;
          width: 230px;
          height: 462px;
          .pop-fruit-ul {
            display: flex;
            flex-direction: column;
            font-size: 90%;
            .pop-fruit-li {
              padding: 10px 5px;
              &:hover a {
                color: #007bff;
              }
            }
          }
        }
      }
      .bev {
        &:hover .pop-list-bev {
          opacity: 1;
          visibility: visible;
        }
        .pop-list-bev {
          transition: 0.3s;
          opacity: 0;
          visibility: hidden;
          background-color: white;
          position: absolute;
          top: 0;
          border: 1px solid #d9d9e9;
          right: -230px;
          width: 230px;
          height: 462px;
          .pop-bev-ul {
            display: flex;
            flex-direction: column;
            font-size: 90%;
            .pop-bev-li {
              padding: 10px 5px;
              &:hover a {
                color: #007bff;
              }
            }
          }
        }
      }
    }
    .drop-footer {
      padding-top: 30px;
    }
  }
}
.blog-div{
  width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .up-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img{
      width: 32%;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .down-row{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .blog{
      display: flex;
      flex-direction: column;
      width: 32%;
      img{
        width: 100%;
        cursor: pointer;
      }
      .tips{
        color: #7a7a7a;
        font-size: 80%;
        text-transform: uppercase;
        padding: 10px 0;
      }
      .title{
        font-size: 130%;
        font-weight: 600;
        cursor: pointer;
      }
      p{
        cursor: pointer;
        color: #7a7a7a;
        span{
          font-weight: 500;
          color: black;
        }
      }
    } 
  }
}
.footer-top {
  width: 100%;
  height: 355px;
  background-color: rgb(35, 58, 149);
  position: absolute;
  .footer-letter {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    .footer-letter-side {
      position: relative;
      margin: auto 0;
      width: 50%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .discount-span {
        font-size: 120%;
        color: white;
        font-family: sans-serif;
      }
      .discount-header {
        margin-top: -30px;
        color: white;
        font-family: sans-serif;
      }
      .discount-text {
        color: rgb(145, 156, 202);
        font-size: 100%;
        margin-top: -20px;
        line-height: 25px;
      }
      .discount-input {
        width: 80%;
        height: 60px;
        padding: 20px;
        padding-left: 50px;
        &::placeholder {
          font-size: 100%;
        }
        &:focus {
          outline: none;
        }
      }
      .discount-button {
        cursor: pointer;
        width: 17%;
        position: absolute;
        height: 50px;
        background-color: rgb(35, 58, 149);
        border-radius: 5px;
        bottom: 30px;
        right: 124px;
        color: white;
        font-size: 100%;
        border: none;
      }
      .discount-message {
        position: absolute;
        font-size: 130%;
        color: rgb(172, 172, 172);
        bottom: 44px;
        left: 20px;
      }
    }
    .discount-image {
      width: 50%;
      height: 100%;
      position: relative;
      img {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}

.slider {
  width: 100%;
  height: 64vh;
  position: relative;
  overflow: hidden;
  .sliderleft,
  .sliderright {
    position: absolute;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    font-size: 80%;
    cursor: pointer;
  }
  .sliderleft {
    left: 3%;
  }
  .sliderright {
    right: 3%;
  }
  .images {
    width: 200%;
    height: 100%;
    display: flex;
  }
}

footer {
  background-color: rgb(247, 248, 253);
  .footer-middle-list {
    width: 1200px;
    height: 50px;
    margin: 360px auto 0 auto;
    z-index: 1;
    align-items: center;
    .mid-ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      li {
        font-family: sans-serif;
        font-size: 90%;
        padding: 15px;
        i {
          padding: 15px;
          font-size: 100%;
        }
      }
    }
  }
  .footer-list-div {
    width: 1200px;
    margin: 140px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(247, 248, 253);
    padding-bottom: 120px;
    ul {
      .main {
        padding-bottom: 20px;
        color: black;
        font-size: 100%;
        font-weight: 500;
        font-family: sans-serif;
      }
      li {
        padding: 5px 0;
        a {
          text-decoration: none;
          color: #7a7a7a;
          font-size: 80%;
          font-family: sans-serif;
          font-weight: 100;
          text-transform: capitalize;
        }
      }
    }
  }
  .footer-info {
    width: 100%;
    background-color: rgb(255, 255, 255);
    .footer-bg-white {
      padding: 50px 0;
      width: 1200px;
      margin: 0 auto;
      background-color: rgb(255, 255, 255);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid #b2b2b6;
      .footer-phone {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .phone-div {
          border: 1px solid #b2b2b6;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          .rotate {
            transform: rotate(-45deg);
            color: #b2b2b6;
          }
        }
        .phone-column {
          display: flex;
          flex-direction: column;
          padding-left: 15px;
          .phone-number {
            font-family: sans-serif;
            font-weight: 600;
            font-size: 140%;
          }
          .work-time {
            font-size: 70%;
            font-family: sans-serif;
            color: #b2b2b6;
          }
        }
      }
      .footer-social {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .download {
          display: flex;
          flex-direction: column;
          text-align: right;
          .download-app {
            font-weight: 600;
            font-family: sans-serif;
            font-size: 90%;
          }
          .discount-app {
            font-size: 80%;
            font-family: sans-serif;
            font-weight: 100;
            color: #b2b2b6;
          }
        }
        .store-apps {
          padding: 0 15px;
          img {
            cursor: pointer;
          }
        }
        .social-links {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 120px;
          .socials {
            cursor: pointer;
            width: 35px;
            height: 35px;
            border: 1px solid #b2b2b6;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(35, 58, 149);
          }
        }
      }
    }
    .footer-last {
      padding: 15px 0;
      width: 1200px;
      margin: 0 auto;
      background-color: rgb(255, 255, 255);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: 80%;
        color: #b2b2b6;
      }
      ul {
        display: flex;
        flex-direction: row;
        li {
          a {
            text-decoration: none;
            color: #b2b2b6;
            padding: 0 8px;
            font-size: 80%;
          }
        }
      }
      .payments {
        margin-top: 5px;
      }
    }
  }
}
.first-product-row {
  width: 1200px;
  height: 300px;
  display: flex;
  flex-direction: row;
  margin: 60px auto;
  .left-row {
    width: 20%;
    .small-product-card {
      height: 100%;
      display: flex;
      border: 1px solid #b2b2b6;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .product-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .product-title {
          font-family: sans-serif;
          font-weight: 600;
          cursor: pointer;
        }
        .product-count {
          font-size: 80%;
          margin: 0 auto;
        }
      }
    }
  }
  .right-row {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    flex-direction: row;
    .small-product-card {
      display: flex;
      width: 25%;
      border: 1px solid #d9d9e9;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .product-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .product-title {
          font-family: sans-serif;
          font-weight: 600;
          cursor: pointer;
        }
        .product-count {
          font-size: 80%;
          margin-left: 0;
        }
      }
    }
  }
}
.big-product-section {
  width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .product-time-counter {
    width: 33%;
    height: 105vh;
    border: 2px solid rgb(237, 23, 74);
    border-radius: 8px;
    .deal-section {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 30px;
      .deal-title {
        font-size: 110%;
        font-family: sans-serif;
        color: rgb(35, 58, 149);
        span {
          font-weight: 700;
        }
      }
      .timer-row {
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: space-between;

        div {
          width: 45px;
          height: 45px;
          background-color: rgb(237, 23, 74);
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          align-items: center;
          font-size: 120%;
          color: white;
        }
        span {
          margin-top: 10px;
        }
      }
      .deal-info {
        font-size: 80%;
        color: #b2b2b6;
        margin-top: 15px;
        transition: 0.3s;
        &:hover{
          color: rgb(35, 58, 149);
        }
      }
    }
    .product-item {
      width: 90%;
      margin: 20px auto;
      position: relative;
      img {
        cursor: pointer;
      }
      .item-discount {
        cursor: default;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: rgb(237, 23, 74);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 130%;
        font-weight: 600;
        color: white;
        position: absolute;
        top: 15px;
        left: 15px;
      }
    }
    .item-worth {
      display: flex;
      flex-direction: row;
      font-family: sans-serif;
      font-weight: 500;
      align-items: center;
      margin-left: 30px;
      .previous {
        margin-bottom: -4px;
        font-size: 130%;
        color: #b2b2b6;
        text-decoration: line-through;
      }
      .current {
        margin-left: 5px;
        font-size: 140%;
        color: rgb(237, 23, 74);
      }
    }
    .product-detail {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      .title {
        font-size: 140%;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
          color: rgb(0, 38, 192);
        }
      }
      p {
        margin-top: 5px;
        font-size: 80%;
        color: #b2b2b6;
        span {
          color: rgb(0, 190, 185);
          text-transform: uppercase;
          margin-left: 5px;
        }
      }
      .review {
        font-size: 80%;
        i {
          font-size: 60%;
          color: gold;
        }
      }
    }
    .last-row {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      text-align: end;
      p {
        margin-right: 35px;
        font-size: 80%;
        color: #b2b2b6;
        span{
          font-size: 140%;
          color: rgb(0, 190, 185);
        }
      }
      .long {
        width: 90%;
        height: 10px;
        background-color: #bfbfbf;
        .progress {
          width: 90%;
          height: 10px;
          background: rgb(255, 0, 0);
          background: linear-gradient(
            90deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 0, 0, 1) 19%,
            rgba(255, 187, 0, 1) 67%,
            rgba(233, 255, 0, 1) 100%,
            rgba(0, 212, 255, 1) 100%
          );
        }
      }
    }
  }
  .product-cards{
    display: flex;
    width: 66%;
    height: 105vh;
    flex-wrap: wrap;
    .pr-card{
      border: 1px solid #ededed;
      width: 33.3%;
      height: 52.5vh;
      position: relative;
      transition: 0.3s;
      z-index: 1;
      &:hover .button-div{
        opacity: 1;
        visibility: visible;
      }
      &:hover .button-div>.card-button{
        margin-top: 30px;
      }
      &:hover{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border: 1px solid #b2b2b6;
        //transform: scaleY(1.1);
        z-index: 50;
        height: 58vh;
      }
      &:hover .icon-collapse{
        right: 15px;
        top: 15px;
        opacity: 1;
      }
      &:hover .icon-heart{
        right: 15px;
        top: 55px;
        opacity: 1;
      }
      .icon-collapse{
        width: 40px;
        position: absolute;
        right: 5px;
        top: 15px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.3s;
        &:hover{
          background-color: #004a9a;
          color: white;
        }
      }
      .icon-heart{
        width: 40px;
        position: absolute;
        right: 5px;
        top: 55px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.6s;
        &:hover{
          background-color: rgb(207,57,150);
          color: white;
        }
      }
      img{
        padding: 0;
        width: 80%;
        margin-top: 15px;
        margin-left: 30PX;
      }
      .dc-percentage{
        background-color: rgb(43,190,249);
        padding: 3px 9px;
        width: 50px;
        top: 15px;
        left: 15px;
        font-size: 80%;
        text-align: center;
        color: white;
        position: absolute;
        border-radius: 5px;
      }
      .dc-recommended{
        background-color: #7a7a7a;
        padding: 3px 9px;
        width: 110px;
        top: 45px;
        text-transform: uppercase;
        left: 15px;
        font-size: 70%;
        text-align: center;
        color: white;
        position: absolute;
        border-radius: 5px;
      }
      .dc-title{
        width: 80%;
        font-weight: 500;
        font-family: sans-serif;
        margin-left: 15px;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
          color: rgb(0, 38, 192);
        }
      }
      .stock{
        color: rgb(0, 190, 185);
        margin-left: 15px;
        text-transform: uppercase;
        font-family: sans-serif;
        font-size: 70%;
        font-weight: 600;
      }
      .review{
        margin-left: 15px;
        i{
          font-size: 80%;
          color: gold;
        }
        .bad-star{
          color: #bfbfbf;
          padding-right: 5px;
        }
      }
      .worth-spans{
        margin-left: 15px;
        font-family: sans-serif;
        font-weight: 600;
        .previous {
          margin-bottom: -4px;
          font-size: 130%;
          color: #b2b2b6;
          text-decoration: line-through;
        }
        .current {
          margin-left: 5px;
          font-size: 140%;
          color: rgb(237, 23, 74);
        }
      }
      .button-div{
        margin-left: 15px;
        width: 80%;
        transition: 0.3s;
        opacity: 0;
        visibility: visible;
        button{
          cursor: pointer;
          transition: 0.3s;
          width: 100%;
          height: 30px;
          background-color: #004a9a;
          color: white;
          border-radius: 10px;
          margin-top: 40px;
          margin-left: 12px;
          font-size: 80%;
        }
      }
    }
  }
}
.banner{
  width: 1200px;
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  justify-content: space-evenly;
  img{
    width: 48%;
    border-radius: 10px;
    cursor: pointer;
  }
}
.many-products{
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px auto;
  .pr-card{
    border: 1px solid #ededed;
    width: 20%;
    height: 350px;
    position: relative;
    transition: 0.3s;
    z-index: 1;
    &:hover .button-div{
      opacity: 1;
      visibility: visible;
    }
    &:hover .button-div>.card-button{
      margin-top: 30px;
    }
    &:hover{
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border: 1px solid #b2b2b6;
      //transform: scaleY(1.1);
      z-index: 50;
      height: 400px;
    }
    &:hover .icon-collapse{
      right: 15px;
      top: 15px;
      opacity: 1;
    }
    &:hover .icon-heart{
      right: 15px;
      top: 55px;
      opacity: 1;
    }
    .icon-collapse{
      width: 40px;
      position: absolute;
      right: 5px;
      top: 15px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: 0.3s;
      &:hover{
        background-color: #004a9a;
        color: white;
      }
    }
    .icon-heart{
      width: 40px;
      position: absolute;
      right: 5px;
      top: 55px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: 0.6s;
      &:hover{
        background-color: rgb(207,57,150);
        color: white;
      }
    }
    img{
      padding: 0;
      width: 80%;
      margin-top: 15px;
      margin-left: 30PX;
    }
    .dc-percentage{
      background-color: rgb(43,190,249);
      padding: 3px 9px;
      width: 50px;
      top: 15px;
      left: 15px;
      font-size: 80%;
      text-align: center;
      color: white;
      position: absolute;
      border-radius: 5px;
    }
    .dc-recommended{
      background-color: #7a7a7a;
      padding: 3px 9px;
      width: 110px;
      top: 45px;
      text-transform: uppercase;
      left: 15px;
      font-size: 70%;
      text-align: center;
      color: white;
      position: absolute;
      border-radius: 5px;
    }
    .dc-title{
      width: 80%;
      font-weight: 500;
      font-family: sans-serif;
      margin-left: 15px;
      cursor: pointer;
      transition: 0.3s;
      &:hover{
        color: rgb(0, 38, 192);
      }
    }
    .stock{
      color: rgb(0, 190, 185);
      margin-left: 15px;
      text-transform: uppercase;
      font-family: sans-serif;
      font-size: 70%;
      font-weight: 600;
    }
    .review{
      margin-left: 15px;
      i{
        font-size: 80%;
        color: gold;
      }
      .bad-star{
        color: #bfbfbf;
        padding-right: 5px;
      }
    }
    .worth-spans{
      margin-left: 15px;
      font-family: sans-serif;
      font-weight: 600;
      .previous {
        margin-bottom: -4px;
        font-size: 130%;
        color: #b2b2b6;
        text-decoration: line-through;
      }
      .current {
        margin-left: 5px;
        font-size: 140%;
        color: rgb(237, 23, 74);
      }
    }
    .button-div{
      margin-left: 15px;
      width: 80%;
      transition: 0.3s;
      opacity: 0;
      visibility: visible;
      .card-button{
        transition: 0.3s;
        width: 100%;
        height: 30px;
        background-color: #004a9a;
        color: white;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 12px;
        font-size: 80%;
        cursor: pointer;
      }
    }
  }
}
.best-sellers{
  width: 1200px;
  display: flex;
  margin: 50px auto;
  flex-direction: column;
  justify-content: flex-start;
  h1{
    font-size: 130%;
  }
  p{
    font-size: 80%;
    color: #b2b2b6;
  }
}
.product-container{
  width: 1200px;
  height: 400px;
  margin: 50px auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  display: flex;
  flex-direction: row;
  &::-webkit-scrollbar{
    display: none;
  }
  .pr-card{
    border: 1px solid #ededed;
    width: 20%;
    height: 350px;
    position: relative;
    transition: 0.3s;
    &:hover .icon-collapse{
      right: 15px;
      top: 15px;
      opacity: 1;
    }
    &:hover .icon-heart{
      right: 15px;
      top: 55px;
      opacity: 1;
    }
    .icon-collapse{
      width: 40px;
      position: absolute;
      right: 5px;
      top: 15px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: 0.3s;
      &:hover{
        background-color: #004a9a;
        color: white;
      }
    }
    .icon-heart{
      width: 40px;
      position: absolute;
      right: 5px;
      top: 55px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: 0.6s;
      &:hover{
        background-color: rgb(207,57,150);
        color: white;
      }
    }
    img{
      padding: 0;
      width: 80%;
      margin-top: 15px;
      margin-left: 30PX;
    }
    .dc-percentage{
      background-color: rgb(43,190,249);
      padding: 3px 9px;
      width: 50px;
      top: 15px;
      left: 15px;
      font-size: 80%;
      text-align: center;
      color: white;
      position: absolute;
      border-radius: 5px;
    }
    .dc-recommended{
      background-color: #7a7a7a;
      padding: 3px 9px;
      width: 110px;
      top: 45px;
      text-transform: uppercase;
      left: 15px;
      font-size: 70%;
      text-align: center;
      color: white;
      position: absolute;
      border-radius: 5px;
    }
    .dc-title{
      width: 80%;
      font-weight: 500;
      font-family: sans-serif;
      margin-left: 15px;
      cursor: pointer;
      transition: 0.3s;
      &:hover{
        color: rgb(0, 38, 192);
      }
    }
    .stock{
      color: rgb(0, 190, 185);
      margin-left: 15px;
      text-transform: uppercase;
      font-family: sans-serif;
      font-size: 70%;
      font-weight: 600;
    }
    .review{
      margin-left: 15px;
      i{
        font-size: 80%;
        color: gold;
      }
      .bad-star{
        color: #bfbfbf;
        padding-right: 5px;
      }
    }
    .worth-spans{
      margin-left: 15px;
      font-family: sans-serif;
      font-weight: 600;
      .previous {
        margin-bottom: -4px;
        font-size: 130%;
        color: #b2b2b6;
        text-decoration: line-through;
      }
      .current {
        margin-left: 5px;
        font-size: 140%;
        color: rgb(237, 23, 74);
      }
    }
    .button-div{
      margin-left: 15px;
      width: 80%;
      transition: 0.3s;
      .card-button{
        transition: 0.3s;
        width: 100%;
        height: 30px;
        background-color: gold;
        color: black;
        border: none;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 12px;
        font-size: 80%;
        cursor: pointer;
      }
    }
  } 
}
.link-div{
  width: 1200px;
  height: 65px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(251,234,207);
  cursor: pointer;
  span{
    font-weight: 700;
    font-size: 110%;
    letter-spacing: 4px;
  }
}
.navigation-text{
  width: 1200px;
  margin: 30px auto;
  font-size: 80%;
  font-family: sans-serif;
  a{
    text-decoration: none;
    color: black;
  }
  span{
    margin-left: 5px;
    i{
      padding-right: 10px
    }
  };
}
.main-section{
  width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .left-side{
    width: 22%;
    height: 300px;
    .list-title{
      font-weight: 600;
    }
    .left-ul{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 20px;
      .left-lists{
        width: 100%;
        margin-left: -30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3px 0;
        cursor: pointer;
        font-size: 90%;
        a{
          input{
            cursor: pointer;
          }
          text-decoration: none;
          color: rgb(117,140,166);
          span{
            margin-left: 15px;
          }
        }
        i{
          font-size: 80%;
          color: rgb(117,140,166);
        }
      }
      padding-bottom: 25px;
    }
    .filter-div{
      width: 100%;
      margin-top: 20px;
      height: 3px;
      position: relative;
      background-color: black;
      span{
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: black;
        border-radius: 50%;
        top: -6px;
      }
      .right-dot{
        right: 0;
      }
    }
    .price-div{
      .left{
        width: 40%;
        justify-content: space-between;
      }
      padding-bottom: 50px;
    }
    .title{
      font-weight: 600;
      margin-top: 150px;
    }
    .status{
      ul{
        padding: 0;
        width: 40%;
        li{
          a{
            text-decoration: none;
            color: black;
            font-size: 80%;
            margin-bottom: 2px;
            span{
              margin-left: 15px;
            }
          }
        }
      }
      padding-bottom: 30px;
    }
    
    .left-ul-sec{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 20px;
      .left-lists{
        width: 100%;
        margin-left: -30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3px 0;
        cursor: pointer;
        font-size: 90%;
        a{
          input{
            cursor: pointer;
          }
          text-decoration: none;
          color: rgb(117,140,166);
          span{
            margin-left: 15px;
          }
        }
        i{
          font-size: 80%;
          color: rgb(117,140,166);
        }
      }
      padding-bottom: 25px;
    }
  }
  .main-side{
    width: 75%;
    display: flex;
    flex-direction: column;
    .image-section{
      img{
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
      }
    }
    .show-page-in{
      width: 100%;
      border-radius: 5px;
      background-color: rgb(247,248,253);
      height: 50px;
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .left-ul{
      margin: auto 0;
      li{
        font-size: 120%;
        padding: 0 5px;
        i{
          cursor: pointer;
        }
        .rotate-this{
          transform: rotate(90deg);
        }
      }
    }
    .show-filtered{
      margin: auto 0;
      li{
        cursor: pointer;
        padding: 0 5px;
        i{
          padding: 0 5px;
        }
      }
    }
    .product-section{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 15px;
      .pr-card{
        border: 1px solid #ededed;
        width: 33.3%;
        height: 52.5vh;
        position: relative;
        transition: 0.3s;
        z-index: 1;
        &:hover .button-div{
          opacity: 1;
          visibility: visible;
        }
        &:hover .button-div>.card-button{
          margin-top: 10px;
        }
        &:hover{
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          border: 1px solid #b2b2b6;
          //transform: scaleY(1.1);
          z-index: 50;
          height: 62vh;
        }
        &:hover .icon-collapse{
          right: 15px;
          top: 15px;
          opacity: 1;
        }
        &:hover .icon-heart{
          right: 15px;
          top: 55px;
          opacity: 1;
        }
        .icon-collapse{
          width: 40px;
          position: absolute;
          right: 5px;
          top: 15px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: 0.3s;
          &:hover{
            background-color: #004a9a;
            color: white;
          }
        }
        .icon-heart{
          width: 40px;
          position: absolute;
          right: 5px;
          top: 55px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: 0.6s;
          &:hover{
            background-color: rgb(207,57,150);
            color: white;
          }
        }
        img{
          padding: 0;
          width: 80%;
          margin-top: 15px;
          margin-left: 30PX;
        }
        .dc-percentage{
          background-color: rgb(43,190,249);
          padding: 3px 9px;
          width: 50px;
          top: 15px;
          left: 15px;
          font-size: 80%;
          text-align: center;
          color: white;
          position: absolute;
          border-radius: 5px;
        }
        .dc-recommended{
          background-color: #7a7a7a;
          padding: 3px 9px;
          width: 110px;
          top: 45px;
          text-transform: uppercase;
          left: 15px;
          font-size: 70%;
          text-align: center;
          color: white;
          position: absolute;
          border-radius: 5px;
        }
        .dc-title{
          width: 80%;
          font-weight: 500;
          font-family: sans-serif;
          margin-left: 15px;
          cursor: pointer;
          transition: 0.3s;
          &:hover{
            color: rgb(0, 38, 192);
          }
        }
        .stock{
          color: rgb(0, 190, 185);
          margin-left: 15px;
          text-transform: uppercase;
          font-family: sans-serif;
          font-size: 70%;
          font-weight: 600;
        }
        .review{
          margin-left: 15px;
          i{
            font-size: 80%;
            color: gold;
          }
          .bad-star{
            color: #bfbfbf;
            padding-right: 5px;
          }
        }
        .worth-spans{
          margin-left: 15px;
          font-family: sans-serif;
          font-weight: 600;
          .previous {
            margin-bottom: -4px;
            font-size: 130%;
            color: #b2b2b6;
            text-decoration: line-through;
          }
          .current {
            margin-left: 5px;
            font-size: 140%;
            color: rgb(237, 23, 74);
          }
        }
        .button-div{
          margin-left: 15px;
          width: 80%;
          transition: 0.3s;
          opacity: 0;
          visibility: visible;
          button{
            cursor: pointer;
            transition: 0.3s;
            width: 100%;
            height: 30px;
            background-color: #004a9a;
            color: white;
            border-radius: 10px;
            margin-top: 10px;
            margin-left: 12px;
            font-size: 80%;
          }
        }
      }
    }
  }
}
.pagecount{
  width: 30%;
  margin: 90px auto;
  ul{
    display: flex;
    flex-direction: row;
    .first-list{
      background-color: rgb(43, 190, 249);
      a{
        color: white;
      }
    }
    li{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
        background-color: #bfbfbf;
      }
      i{
        font-size: 120%;
      }
      a{
        color: black;
        padding: 15px;
        text-decoration: none;
      }
    }
  }
}